.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--head-text-color);
}

.clients__list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.clients__link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
            &:focus {
                border: 1px solid var(--accent-color);
                fill: var(--accent-color);
            }
}

