.doing {
    padding-bottom: 94px;
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.doing__list {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

.doing__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--head-text-color);
}

.doing__top-wrap {
    position: relative;
}

.doing__top-text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-light-color);
    background-color: rgba(47, 48, 58, 0.8);
}