.features {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}


.features__icon-bg {
    min-width: 270px;
    height: 120px;
    background-color: var(--btn-second-bgc);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    @media screen and (min-width: 1200px) {
            margin-top: 50px;
        }
}

.features__item {
    width: 100%;
    
        @media screen and (min-width: 768px) {
            width: calc((100% - 30px)/2);
        }
    
        @media screen and (min-width: 1200px) {
            width: calc((100% - 90px)/4);
        }
}


.features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--head-text-color);
    margin-top: 30px;
    @media screen and (max-width: 767px) {
                text-align: center;
            }
}

.features__desc {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}