.btn-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 15px ;
    @media screen and (min-width: 768px) {
            justify-content: center;
        }
}

.btn-style {
    padding: 6px 22px;
    border-radius: 4px;
    border: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--btn-second-color);
    background-color: var(--btn-second-bgc);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: var(--btn-text-color);
            background-color: var(--btn-bg-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

