.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
}

.project-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
            width: calc((100% - 30px)/2);
        }
    @media screen and (min-width: 1200px) {
            width: calc((100% - 60px)/3);
        }

}

.project-top-wrap {
    position: relative;
    overflow: hidden;
}

.project-top-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    overflow: auto;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    color: var(--main-light-color);
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .project-item:hover & {
            transform: translateY(0%);
        }
}


.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--head-text-color);
}

.project-content {
    flex-grow: 1;
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.project-text {
    // flex-grow: 1;
    margin-top: 4px;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.project-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

