.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--main-light-color);
    color: var(--main-text-color);
}

.project {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
            padding-top: 94px;
                padding-bottom: 94px;
        }
}


