:root {
    --head-text-color: #212121;
    --main-text-color: #757575;
    --accent-color: #2196F3;
    --background-color: #2F303A;
    --main-light-color: #FFFFFF;
    --btn-text-color: #FFF;
    --btn-bg-color: #2196F3;
    --btn-second-color: #212121;
    --btn-second-bgc: #F5F4FA;
    --icon-color: #AFB1B8;
}